<%- include('../template/header',{title: global.appName +' controller'})%> 

<div class="">
  <input type="text" name="url" id="url" placeholder='example.com'>
  <select name="displayId" id="displayId">
    <% displays.forEach((display) => { %>
        <option value="<%- display.id %>"><%- display.port %></option>
    <% }) %> 
  </select>
  <button id='loadUrl' class='btn btn-sm btn-primary'>Load url</button>
  <br><br>
  <button id="reloadDisplays" class='btn btn-sm btn-primary float-right'>Reload displays</button>
  <button id="reboot" class='btn btn-sm btn-danger float-right'>Reboot device</button>
</div>

<hr>

<div class="">
  <input type="text" name="hostname" id="hostname" placeholder='hostname' value='<%- hostname %>' >
  <button id='send' class='btn btn-sm btn-primary setHostname'>Set</button>
</div>

<script>
  $("#url").on("keypress", function (event) {
    var keycode = (event.keyCode ? event.keyCode : event.which);

    if (keycode == '13') {
      $('#loadUrl').trigger('click');
    }

  });
  $('#loadUrl').on('click', (event) => {
    var url = $('#url').val();
    
    if(url === ''){
      alert('No url setted')
      return;
    }

    var displayId = $('#displayId').val();
    if(displayId === undefined){
      alert('No display setted')
      return;
    }

    var postData = { 
      url: url,
      display: displayId
    };

    console.log('postData',postData);

    axios.post('openUrl', postData)
      .then((response) => {
        if (response.data.executed) {
          console.log('executed',response.data);
          $('#url').val('');
        } else {
          console.log(response.data.errors)
        }

      })
  })

  $('.setHostname').on('click',event =>{
    var hostname = $('#hostname').val();
    if(hostname === ''){
      console.log('no hostname');
      return;
    }
    axios.get('/setHostname/'+hostname)
    .then((response) =>{
      console.log(response.data)
      if(response.data){
        console.log('url executed',response.data)
      }
    })
  })

  $('#reloadDisplays').on('click', event =>{
    axios.get('reloadDisplays')
    .then(response =>{
      if(response.data === true){
        location.reload();
      }else{
        console.log('reload display error', response.data)
      }
    })
  })

  $('#reboot').on('click', event =>{
    console.log('reboot')
    axios.get('reboot')
  })
</script>