<head>
<title>
    <%= title %>
</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<script src="/jquery/jquery.min.js"></script>

<script src="/bootstrap/bootstrap.bundle.min.js"></script>
<link rel='stylesheet' href='/bootstrap/bootstrap.min.css' />

<script src="/axios/axios.js"></script>
</head>